{
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-async-to-generator"
  ],
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {
          "node": 6.10
        }
      }
    ],
    "stage-0"
  ]
}
